*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
form{
	text-align: center;
	text-transform: uppercase;
	align-items: center;
	box-shadow: 1px 1px 5px black;
	border: 1px black;
	border-radius: 5px;
}
body{background-color: #0ddea3;
background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%); font-family: 'Staatliches', cursive;
text-transform: uppercase;
}
form.input{
	box-shadow: 1px 1px 5px black;
}
a{
	text-decoration: none;
}
h3{
	color: black;
}
textarea {
   resize: none;
   width: 250px;
   height: auto;
}





