body{color: white;font-color: #fff;
	clip-path: polygon(100%,0%,100%,70%,50%,100%,0%,75%,0%,0%);
background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-shadow: 1px 1px 1.5px black;}
footer{font-color: #fff;
	background-color: black;
	width:400px ;
	height: 200px;
}
p{font-color: #fff;
	color: white;
}
a{font-color: #fff;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
.fb{
	font-color: #fff;
}