body{color: white;font-color: #fff;
	clip-path: polygon(100%,0%,100%,70%,50%,100%,0%,75%,0%,0%);
background: #40E0D0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);   
background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  

}
footer{font-color: #fff;
	background-color: black;
	width:250px ;
	height: 200px;
}
p{font-color: #fff;
	color: white;
}
a{font-color: #fff;
	color: white;
	
	text-decoration: none;
	font-size: 10px
}
.fb{
	background-color: skyblue;
	font-color: #fff;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}