body{
	 font-family: 'Staatliches', cursive;text-transform: uppercase;
}











img{
	width:300px; height: 250px;
	box-shadow: 2px 3px 4px black;
	align-items: center;
	margin-left: -10px;

}
h3{ text-transform: uppercase;
	margin: 8px 3px;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	background: blue;
	color: white;
	font-weight: 8px 16px;
	border-radius: 6px;
	box-shadow: 2px 2px 5px black;
	transition: all ease 0.75s;
	width:320px; 


}
.promo{
	width: 300px;
	height: 100px;
}
h5{
width:300px;
	text-transform: uppercase;
	align-items: center;
	text-align: center;
}
h3:hover{
	background-color: green;
	box-shadow: 6px 6px 6px 6px green;
}

.img-sec a{text-decoration: none;
color: white;}
.img-sec2 a{text-decoration: none;
color: white;}
.img-sec2 h3{ text-transform: uppercase;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	background: green;
	color: white;
	font-weight: 700;
	border-radius: 6px;
	box-shadow: 2px 2px 5px black;
	transition: all ease 0.75s;


}
.img-sec2 h3:hover{
	background-color: blue;
	box-shadow: 6px 6px 6px 6px blue;
}

.navbar navbar-expand-sm bg-dark navbar-dark{
	width: 290;
	height: 250;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}